<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE tiles-definitions PUBLIC
        "-//Apache Software Foundation//DTD Tiles Configuration 3.0//EN"
        "http://tiles.apache.org/dtds/tiles-config_3_0.dtd">

<tiles-definitions>

	<definition name="base.definition" template="/WEB-INF/views/layout/layout.jsp">
		<put-attribute name="header" value="/WEB-INF/views/layout/header.jsp" />
		<put-attribute name="menu" value="/WEB-INF/views/layout/menu.jsp" />
		<put-attribute name="footer" value="/WEB-INF/views/layout/footer.jsp" />
	</definition>

	<definition name="index" extends="base.definition">
		<put-attribute name="title" value="Home" />
		<put-attribute name="body" value="/WEB-INF/views/index.jsp" />
	</definition>
	
	<definition name="login" extends="base.definition">
		<put-attribute name="title" value="Login" />
		<put-attribute name="body" value="/WEB-INF/views/login.jsp" />
	</definition>

    <!-- show room -->
    <definition name="rooms" extends="base.definition">
        <put-attribute name="title" value="Home"/>
        <put-attribute name="body" value="/WEB-INF/views/room/rooms.jsp"/>
    </definition>

    <!-- add room -->
    <definition name="newRoom" extends="base.definition">
        <put-attribute name="title" value="Home"/>
        <put-attribute name="body" value="/WEB-INF/views/room/new.jsp"/>
    </definition>

    <!-- edit room -->
    <definition name="editRoom" extends="base.definition">
        <put-attribute name="title" value="Home"/>
        <put-attribute name="body" value="/WEB-INF/views/room/edit.jsp"/>
    </definition>

	<definition name="newUser" extends="base.definition">
		<put-attribute name="title" value="Home" />
		<put-attribute name="body" value="/WEB-INF/views/newUser.jsp" />
	</definition>
	
	<definition name="showbooking" extends="base.definition">
		<put-attribute name="title" value="Show Booking" />
		<put-attribute name="body" value="/WEB-INF/views/user_showbooking.jsp" />
	</definition>
	
	<definition name="listUser" extends="base.definition">
		<put-attribute name="title" value="Home" />
		<put-attribute name="body" value="/WEB-INF/views/listUser.jsp" />
	</definition>
</tiles-definitions>
