.bootstrap-iso .formden_header h2, .bootstrap-iso .formden_header p,
	.bootstrap-iso form {
	font-family: Arial, Helvetica, sans-serif;
	color: black
}

.bootstrap-iso form button, .bootstrap-iso form button:hover {
	color: white !important;
}

.asteriskField {
	color: red;
}

.printBill{
	padding-left: 50px;
}

.bill_right {
	text-align: right; 
	padding-right: 20%;
}

.footerbill{
	margin-bottom: 20px;
	padding-right: 20px; 
}

